.grid {
    display: flex;  
    margin: auto;
    width: 960px;
}

.column {
    flex: 1; 
}
.row {
    margin: 1px;
    background: gold;
    text-align: center;
    aspect-ratio: 1 / 1 ;
 
}
.div.row {
    aspect-ratio: 1 / 1 ;
}
.row.active {
    background-color: black;
  }